* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #333;
  color: #999;
  font-family: "Rubik", sans-serif;
}

h5 {
  color: #007799;
}

.negative {
  background-color: #330000;
}

.negative span {
  color: #990000;
}

#timer {
  border-radius: 2px;
  width: 320px;
  margin: auto;
  margin-top: calc(50vh - 87px);
}

button,
input {
  color: #999;
  height: 40px;
  border: 1px solid #999;
  background-color: #333;
  font-size: 20px;
  text-align: center;
  box-sizing: border-box;
}

button:hover {
  color: #007799;
  text-shadow: 1px 1px 5px #007799;
}

.timer_display {
  font-size: 80px;
  text-align: center;
  border: 1px solid;
  border-bottom: none;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.timer_settings {
  display: grid;
  grid-template-columns: 2fr 3fr 2fr 2fr 3fr 2fr;
}

.timer_settings > input {
  border: none;
  border-top: 1px solid;
  border-bottom: 1px solid;
}

.timer_settings button:hover {
  border: 1px solid #007799;
}

.out {
  animation: squeeze 1s ease;
  animation-direction: reverse;
  animation-fill-mode: backwards;
}

.in {
  animation: squeeze 1s ease;
  animation-fill-mode: forwards;
}

@keyframes squeeze {
  from {
    height: 40px;
  }
  to {
    height: 0px;
  }
}

#button_timer_start {
  width: 320px;
  border: 1px solid;
  border-top: none;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  z-index: 200;
}

#button_timer_start:hover {
  border: 1px solid #007799;
}

input {
  max-width: 100px;
}

.timer_footer_note {
  opacity: 0.5;
  position: absolute;
  left: 5px;
  bottom: 5px;
  font-size: 10px;
}

/* use these for actual mobile styles later on */

/* @media screen and (orientation: portrait) {
  body {
    border: 2px solid blue;
  }

  #timer {
    margin: auto;
    margin-top: calc(50vh - 87px);
  }
}

@media screen and (orientation: landscape) {
  body {
    border: 2px solid red;
  }

  #timer {
    margin: auto;
    margin-top: calc(50vh - 87px);
  }
} */
