@import 'font.scss';

$black: #333333;
$red: #990000;
$blue: #007799;
$green: #009955;
$gray: #999999;

$background: $black;
$warn: $red;
$primary: $blue;
$text: $gray;

$transition: 0.3s;

* {
  margin: 0;
  padding: 0;
}


.negative {
  background-color: #330000;
}

.negative span {
  color: #990000;
}

span {
  transition: color $transition;
}

body {
  background-color: $background;
  transition: background-color $transition;
  color: $text;
  font-family: "Rubik", sans-serif;
  height: 100vh;

  button,
  input {
    color: $text;
    height: 40px;
    border: 1px solid $text;
    background-color: $background;
    font-size: 20px;
    text-align: center;
    box-sizing: border-box;
    outline: none;
    padding: 10px;
    line-height: 10px;
    transition: background-color $transition ease, color $transition ease;
  }

  button:hover {
    color: $black;
    background-color: $primary;
    cursor: pointer;
  }

  #button_settings {
    border-radius: 5px;
    position: absolute;
    bottom: 5px;
    right: 5px;
  }

  #timer {
    border-radius: 2px;
    width: 320px;
    margin: auto;
    transform: translateY(calc(50vh - 80px));

    button{
      padding: 0;
    }

    button + button, button + input, input + button {
      border-left: none;
    }

    .timer_display {
      font-size: 80px;
      text-align: center;
      border: 1px solid $text;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
    }

    .timer_settings {
      display: grid;
      grid-template-columns: 2fr 3fr 2fr 2fr 3fr 2fr;
      overflow: hidden;
      transition: height 1s ease;

      button, input {
        border-top: none;
        border-bottom: none;
      }
    }

    .expand {
      height: 40px;
    }

    .collapse {
      height: 0px;
    }

    #button_timer_start {
      width: 100%;
      border: 1px solid $text;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      z-index: 200;
    }

    input {
      width: 100%;
    }
  }

  #settings {
    display: none;
    width: 320px;
    height: 180px;
    border-radius: 5px;
    border: 1px solid $text;
    margin: auto;
    transform: translateY(calc(50vh - 80px));
  }


  .timer_footer_note {
    opacity: 0.5;
    position: absolute;
    left: 5px;
    bottom: 5px;
    font-size: 10px;
  }
}

h5 {
  color: $primary;
}
